<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!--    <bean id="alien" class="org.example.Alien" scope="prototype"></bean>-->

<!--Setter injection  -->
<!--        <bean id="alien" class="org.example.Alien" scope="prototype">-->
<!--            <property name="age" value="12"></property>-->
<!--            <property name="laptop" ref="laptop"></property>-->
<!--        </bean>-->


<!-- Constructor Injection default is sequence. If not in sequence it will error. We can use type   -->
<!--    <bean id="alien" class="org.example.Alien" >-->
<!--        <constructor-arg type="org.example.Laptop" ref="laptop"></constructor-arg>-->
<!--        <constructor-arg type="int" value="12"></constructor-arg>-->
<!--    </bean>-->

<!--    Using index-->
<!--    <bean id="alien" class="org.example.Alien" >-->
<!--        <constructor-arg index="1" name="laptop" ref="laptop"></constructor-arg>-->
<!--        <constructor-arg index="0" name="age" value="12"></constructor-arg>-->
<!--    </bean>-->

<bean id="computer2" class="org.example
.Laptop" primary="true"></bean>
<bean id="computer1" class="org.example.Desktop" lazy-init="true"></bean>

<!--&lt;!&ndash;It will inject laptop as autowire by name is there&ndash;&gt;-->
<!--            <bean id="alien" class="org.example.Alien" autowire="byName">-->
<!--                <property name="age" value="12"></property>-->
<!--&lt;!&ndash;                <property name="computer" ref="laptop"></property>&ndash;&gt;-->
<!--            </bean>-->

<!--    <bean id="alien" class="org.example.Alien" autowire="byName">-->
<!--        <property name="age" value="12"></property>-->
<!--        <property name="computer" ref="laptop"></property>-->
<!--    </bean>-->

    <bean id="alien" class="org.example.Alien" autowire="byType">
        <property name="age" value="12"></property>
        <property name="computer" ref="computer1"></property>
    </bean>

<!--    Inner bean, means this inner bean will not be used by other-->
<!--    <bean id="alien" class="org.example.Alien" autowire="byType">-->
<!--        <property name="age" value="12"></property>-->
<!--        <property name="computer">-->
<!--            <bean id="computer1" class="org.example.Desktop" lazy-init="true"></bean>-->
<!--        </property>-->
<!--    </bean>-->
<!--    -->


</beans>

